/* You can add global styles to this file, and also import other style files */
body{
    background-color: lightgrey;
    
}
h4{
    font-size: larger;
}
.transform{
    font-size: larger;
    text-align: center;
    
}
.color{
    text-decoration:underline;
}
.vote{
    color: blueviolet;
}